<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>

  <param name="use_sim_time" value="true" />

  <node pkg="tf" type="static_transform_publisher" name="mast_sensor_rig_link_tf_ouster_link" args="0.0057089 0 0.07018 0 0 0  /mast_sensor_rig_link /ouster_link 50" />
  <node pkg="tf" type="static_transform_publisher" name="imu_viz_link_tf_imu_link" args="0 0 0 0.707388044877 0.706824956994 0.000562863771533 0.000563312173597 /imu_viz_link /imu_link 50" />
  <node pkg="tf" type="static_transform_publisher" name="imu_link_tf_mast_sensor_rig_link" args="0 -0.003327 0.0135 0.707388044877 0.706824956994 0.000562863771533 0.000563312173597  /imu_link /mast_sensor_rig_link 50" />

  <include file="$(find cartographer_ros)/launch/niosh/carto.launch"/>
  <node pkg="tf2odom" type="tf2odom" name="tf2odom" />
  <include file="$(find cartographer_ros)/launch/niosh/lcd.launch"/>
  <include file="$(find cartographer_ros)/launch/niosh/voxblox.launch"/>

  <node pkg="rosbag" type="play" name="bag_player" args="--clock -s 250 /home/$(env HOSTNAME)/data/niosh/imu_ouster_camera_2019-08-18-15-20-46_full.bag" output="screen"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find cartographer_ros)/launch/niosh/rviz.rviz" />

<!-- 1830 seconds by narrow passageways -->

</launch>
