<?xml version="1.0"?>

<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>

	<!--
  <node pkg="tf" type="static_transform_publisher" name="T_fake_localization"
    args="0 0 0 0 0 0 1 map imu_viz_link 100" />
-->

  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a passthrough filter to clean NaNs -->
  <node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough pcl_manager" output="screen">
    <remap from="~input" to="/os1_cloud_node/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 2.0
      filter_limit_negative: False
    </rosparam>
  </node>


  <param name="robot_description"
	  textfile="$(find cartographer_ros)/urdf/urban/gene_full_rig_2_ouster_2_rplidar.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files/urban
	  -configuration_basename gene_H02_3d.lua"
      output="screen">
    <remap from="/odom" to="/transformed_odom"/> 
    <remap from="/scan" to="/lidar0/scan"/>
    <remap from="/imu" to="/imu_raw"/>
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.2" />

  <node pkg="octomap_server" name="husky_odom_publisher" type="husky_odom_pub" output="screen"/>
-->
<!--  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/H02_3d.rviz" />
-->
</launch>
